/* body {
  margin: 0;
  background: #111;
  overflow: hidden;
}

.game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.ball {
  position: absolute;
  top: -50px;
  width: 100px;
  height: 100px;
  background-color: #00f2ff;
  border-radius: 50%;
  animation: fallDown linear infinite;
  cursor: pointer;
}

@keyframes fallDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(110vh);
  }
} */


.container {
  text-align: center;
  padding: 20px;
}

.main-image {
  width: 500px;
  height: auto;
  border: 2px solid #000;
  margin-bottom: 20px;
}

.thumbnails {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.thumb {
  width: 120px;
  height: 70px;
  object-fit: cover;
  border: 2px solid black;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s;
}

.thumb.active {
  background-color: black;
}
