body {
  margin: 0;
  background: #111;
  overflow: hidden;
}

.game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.ball {
  position: absolute;
  top: -50px;
  width: 100px;
  height: 100px;
  background-color: #00f2ff;
  border-radius: 50%;
  animation: fallDown linear infinite;
  cursor: pointer;
}

@keyframes fallDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(110vh);
  }
}
